* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    --darkBackground: #1f272b;
    --lightBackground: #2c363b;
    --correctWord: #4d8db5;
    --emptyWord: #2c363b;
    --textWhite: #dfe7ef;
    --scoreBackground: #164E8E;
    --reStart: #0d6625;
    --darkOutLine: #404c55;
}

:root {
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #BAA539;
    --right: #397EBA;
}

body {
    height: 100%;
    background: var(--darkBackground);
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* nav bar */

.navbar {
    background: var(--lightBackground);
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

.nav-clock {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 20px;
    position: absolute;
}

.nav-rem-text {
    color: var(--textWhite);
    font-size: 18px;
    margin: 0 8px 0 0;
}

.nav-rem-sec.warning {
    background: rgba(255, 0, 0, .168);
    border: 2px solid hsla(0, 35%, 78%, .75);
    color: #dab2b2;
}

.nav-rem-sec {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 8px 10px;
    transition: all .25s ease;
}

#wrapper {
    text-align: center;
    color: var(--textWhite);
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 600;
    text-indent: 8px;
}

.help {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 20px;
    position: absolute;
}

.layer {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.layer .popup-box {
    position: relative;
    padding: 20px 20px 60px;
    margin: 20px;
    width: 700px;
    background-color: var(--lightBackground);
    border-radius: 10px;
}

.popup-box {
    color: var(--textWhite);
    font-size: 24px;
    margin: 0 0 16px;
    font-weight: 600;
}

.modal-help-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.modal-help-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.modal-help-col {
    border: 2px solid var(--darkOutLine);
    border-radius: 12px;
    flex-direction: column;
    margin: 0 6px;
    position: relative;
    padding-top: 25px;
    width: 100%;
    height: 90%;
}

.modal-help-col-num {
    border: 2px solid var(--darkOutLine);
    border-radius: 100px;
    color: var(--darkOutLine) !important;
    font-size: 16px !important;
    font-weight: 700;
    height: 26px;
    position: absolute;
    top: -32px;
    width: 26px;
}

.modal-help-col, .modal-help-col-num {
    align-items: center;
    background: var(--darkBackground);
    display: flex;
    justify-content: center;
}

.modal-help-col-img {
    height: 100%;
    width: 80%;
    object-fit: contain;
}

.modal-help-desc {
    color: var(--textWhite);
    text-align: center;
    font-size: 14px !important;
    font-weight: 300;
    margin: 20px 10px !important;
}

.layer .popup-box .close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
  }

.layer:target {
    display: flex;
    animation: open 0.5s;
  }

@keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* main game */

#game {
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(5, auto);
    padding: 10px 0 0 0;
}

.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: #dddddd;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-size: 2.4rem;
}

.box.empty {
    background: var(--empty);
}

.box.wrong {
    background: var(--wrong);
}

.box.right {
    background: var(--right);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/** Score **/
.main-clock {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 21px;
}

.main-score-text {
    color: var(--textWhite);
    font-size: 18px;
    margin: 0 8px 0 0;
}

.main-score.warning {
    background: var(--scoreBackground);
    border: 2px solid #76B3F9;
    color: #76B3F9;
}

.main-score {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 8px 10px;
    transition: all .25s ease;
}

/** re-start button **/
.main-restart {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 50px;
}

.main-re {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 8px 10px;
    transition: all .25s ease;
}

.main-re.warning {
    background: var(--reStart);
    border: 2px solid #1bbe47;
    color: #1bbe47;
}

.footer-c {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    color:  rgba(224, 211, 211, 0.735);
  }

  .footer-cc {
    color:  rgba(224, 211, 211, 0.735);
  }